html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.navbar {
    position: absolute;
    z-index: 1000;
}

.nav-link {
    cursor: pointer;
}

.bg-dark {
    opacity:0.9;
}

#map {
    height: 100%;
}